/*  layout */
html, body {
	height: 100%;
	padding: 0;
  margin: 0 auto;
  text-align: center;
}
#instructions{
  padding-left: 3em;
	padding-right: 3em;
}

/* Map */
content.map-content{
	width: 50%;
	height: 500px;
	padding-right: 1em;
	box-sizing: border-box;
	float: left;
}
aside.map-aside{
	width: 50%;
	height:500px;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	border: 3px solid #069cf9;
}
#mapCanvas{
	width: 100%;
	height: 500px;
	box-sizing: border-box;

	padding-right: 1em;
	border: 3px solid #069cf9;
}
iframe{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	margin-bottom: 2em;
}
#liveStream{
	width: 100%;
	height: 495px;
}

.cmdData{
	margin-top: .5em;
	display: block;
	color: #069cf9;
}
.cmd-info{
	height: auto;
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 2em;
}
#stringUserName{
	color: #ffffff;
	font-size: 24px;
	padding-top: 2em;
	font-family: 'Audiowide', cursive;
  font-weight: normal;
}
/* Navigation */
header{
	margin: 0 auto;
}
.navbar, ul, li{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

/* Sections */
aside{
	box-sizing: border-box;
  display: block;
  float: right;
  width: 20%;
	height: auto;
}
.twitter{
	display: block;
	width:100%;
	height: auto;
}
.astronaut-info{
	box-sizing: border-box;
	padding-left: 3em;
	padding-right: 3em;
	display: block;
	float: left;
	width: 80%;
	height: auto;
}
#welcomeMessage{
	text-align: center;
  padding: 20px;
}

/* Logo Related */
.main-logo{
  margin: 0 auto;
  width: 30%;
  height: auto;
	display: block;

}
.logo-text{
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
}

.astronaut-name{
	margin: 0 auto;
	width:30%;
	height: 30%;
}

/* Tables */
.astronaut-table, td, th{
	margin: 0 auto;
	padding: 10px;
  font-size: 1em;
	width: 60%;
}
.bio-paragraph{
	padding-bottom: 1.5em;
}
.col_3{
	padding-bottom: 2em;
}

#wrap, img{
	padding-top: 2em;
}

/* Form Related */
.main-form{
	margin: 0 auto;
	display: block;
	text-align: center;
}
#formButton{
	padding: 10px;
}
#name{
	padding: 5px;
}
#address{
	padding: 5px;
}

/* Footer */
footer{
	clear: both;
	text-align: center;
  padding: 10px;
}
