/*  styles */
html, body {
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #01193b;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;  color: #ffffff;
}
/* Instructions */
#instructions{
  color: #ffffff;
}
#welcome-to-iss{
	color: #069cf9;
  font-size: 1.3em;
  font-family: 'Audiowide', cursive;
  font-weight: normal;
}

/* Navigation */
header{
	font-family: 'Audiowide', cursive;
  font-weight: normal;
}
.navbar, ul, li{
	color: #ffffff;
}
a:link{
		text-decoration: none;
}
a:visited {
    color: #ffffff;
		text-decoration: none;
}
a:hover {
    color: #069cf9;
		text-decoration: none;
}
a.active {
    color: #e32e3d;
		text-decoration: none;
}

/* Sections */
aside{
	background-color: #ffffff;
}

#welcomeMessage{
  font-family: 'Lora', serif;
  font-size: 20px;
	color: #e32e3d;
}

/* Logo Related */
.logo-text{
  font-family: 'Audiowide', cursive;
  font-weight: normal;
  color: #069cf9;
  font-size: 2em;
}
#liveStream{
	border: 0px none transparent;

}

/* Tables */
.astronaut-table{
	border: 1px solid #ffffff;
  border-radius: 5px;
}
th, td{
  border: 1px solid #ffffff;
}
.bio-paragraph{
	color: #069cf9;
}
.text{
  color: #069cf9;
}
/* Form Related */
#formButton{
	border-radius: 5px;
	color: #ffffff;
	background-color: #069cf9;
	border: none;
}
#formButton:hover{
	background-color: #e32e3d;
	text-decoration: none;
}
#geoButton{
	border-radius: 5px;
	color: #ffffff;
	background-color: #069cf9;
	border: none;
}
#geoButton:hover{
	background-color: #e32e3d;
	text-decoration: none;
}
#name{
	border-radius: 5px;
	border: none;
}
#address{
	border-radius: 5px;
	border: none;
}
iframe{
border: 1px solid #069cf9;}

/* Footer */
footer{
  display: block;
  clear: both;
  font-size: 10px;
}
