/*  style */
@import ("css/layout.css");

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 16px;
  background-color: #01193b;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;  color: #ffffff;
}
/* Map */
content.map-content{
	width: 66.5%;
	height: 500px;
	box-sizing: border-box;
	float: left;
}
aside.map-aside{
	width: 33.5%;
	height:500px;
	box-sizing: border-box;
}
#mapCanvas{
	width: 100%;
	height: 500px;
}
iframe{
	width: 100%;
	height: 500px;
}

/* Navigation */
header{
	font-family: 'Audiowide', cursive;
  font-weight: normal;
	margin: 0 auto;
}
.navbar, ul, li{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	color: #ffffff;
}
a:link{
		text-decoration: none;
}
a:visited {
    color: #ffffff;
		text-decoration: none;
}
a:hover {
    color: #069cf9;
		text-decoration: none;
}
a.active {
    color: #e32e3d;
		text-decoration: none;
}

/* Sections */
aside{
	box-sizing: border-box;
	background-color: #ffffff;
  display: block;
  float: right;
  width: 20%;
	height: auto;
}
.twitter{
	display: block;
	width:100%;
	height: auto;
}
.astronaut-info{
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
	display: block;
	float: left;
	width: 80%;
	height: auto;
}
#welcomeMessage{
	text-align: center;
  font-family: 'Lora', serif;
  font-size: 20px;
	padding: 20px;
	color: #e32e3d;
}

/* Logo Related */
.main-logo{
  margin: 0 auto;
  width: 30%;
  height: auto;
	display: block;

}
.logo-text{
	margin: 0 auto;
	text-align: center;
  font-family: 'Audiowide', cursive;
  font-weight: normal;
  color: #069cf9;
  font-size: 2em;
	display: block;
	position: relative;
}

.astronaut-name{
	margin: 0 auto;
	width:30%;
	height: 30%;
}

/* Tables */
.astronaut-table, td, th{
	margin: 0 auto;
	border: 1px solid #ffffff;
  border-collapse: collapse;
	padding: 10px;
  text-align: left;
}

#wrap, img{
	padding-top: 30px;
}

#formButton{
	border-radius: 5px;
	color: #ffffff;
	background-color: #069cf9;
	padding: 10px;
	border: none;
}

/* Form Related */
.main-form{
	margin: 0 auto;
	display: block;
	text-align: center;
}
#formButton:hover{
	background-color: #e32e3d;
	text-decoration: none;
}
#name{
	border-radius: 5px;
	border: none;
	padding: 5px;
}
#address{
	border-radius: 5px;
	border: none;
	padding: 5px;
}

/* Footer */
footer{
	clear: both;
	text-align: center;
  padding: 10px;
  font-size: 10px;
}
#liveStream{
	border: 0px none transparent;
}
